<div class="eventcard card mb-4 shadow-sm">
  <div class="card-header">
    <div class="row mb-2">
      <div class="col-md-8">
        <h4 class="my-0 font-weight-normal">Хипстерский митапчик</h4>
      </div>
      <div class="col-md-4 text-right">
        <span class="card-text">12 января в 12:00</span>
        <br>
        <span class="card-text">Эшкинина, 256</span>
      </div>
    </div>
  </div>
  <div class="card-body">
    <article>
      <p class="card-text">
      11 декабря во вторник команда GDG Нижний Новгород предлагает собраться в Шустром Шмэле!
      <br>
      <br>
      Поводов несколько:
      <br>
      Главное – прямая трансляция DevFest OnAir. 
      <br>
      Нижний Новгород – это один из тех городов, чьи выступления будут показывать!
      <br>
      Еще будут итоги, планы и подарки!
      <br>
      <br>
      Ну и, место обязывает, будет небольшая пати, на которой будут welcome-дринки и закуски!
      </p>
    </article>
    <div class="row mb-2">
      <div class="col-md-8">
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-lg btn-block btn-primary">Я пойду!</button>
      </div>
    </div>
  </div>
</div>
