<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="favicon-32x32.png" width="32px" height="32px"></img>
    meetup12
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="navbar-nav mr-auto">
    <%- include('../components/navdropdown', {
      pageUrl: navbar.pageUrl,
      url: '/events',
      name: 'События',
      items: [{
        url: '/events',
        name: 'Предстоящие'
      }, {
        url: '/events?passed=1',
        name: 'Прошедшие'
      }, {
        url: '/events/new',
        name: 'Добавить'
      }]
    }); %>
    <%- include('../components/navlink', {
      pageUrl: navbar.pageUrl,
      url: '/members',
      name: 'Участники',
    }); %>
    </div>
    <div class="navbar-nav">
      <%- include('../components/navlink', {
        pageUrl: navbar.pageUrl,
        url: '/login',
        name: 'Войти',
      }); %>
    </div>
  </div>
</nav>