<!DOCTYPE html>
<html lang="ru">
  <%- include('layouts/head', { title: 'События' }); %>
  <body>
    <%- include('layouts/header'); -%>
    <article>
    </article>
    <%- include('layouts/footer'); -%>
  </body>
</html>
