<!DOCTYPE html>
<html lang="ru">
  <meta charset="utf-8" />
  <title>meetup12.ru | события</title>
  <meta name="referrer" content="origin">
</html>
<body>
  <%- include('header'); -%>
  <article>
  </article>
  <%- include('footer'); -%>
</body>
