<!DOCTYPE html>
<html lang="ru">
  <%- include('layouts/head', { title: 'Авторизация' }); %>
  <body>
  <%- include('layouts/navbar', { navbar: page.navbar }); -%>
    <div>
    </div>
    <%- include('layouts/footer'); -%>
  </body>
</html>
