<!DOCTYPE html>
<html lang="ru">
  <%- include('layouts/head', {
    title: 'Участники'
  }); %>
  <body>
    <%- include('layouts/navbar', { navbar: page.navbar }); -%>
    <div>
    </div>
    <%- include('layouts/footer'); -%>
  </body>
</html>
