<!DOCTYPE html>
<html lang="ru">
  <%- include('layouts/head', { title: 'События' }); %>
  <body>
    <%- include('layouts/navbar'); -%>
    <div>
    </div>
    <%- include('layouts/footer'); -%>
  </body>
</html>
